**/.history
**/dist
**/coverage
**/.coverage
**/.test
**/tests
**/bundle.*

.yarn
.pnp.*
**/node_modules
**/*.d.ts
!**/types.d.ts

**/*.js
**/*.cjs
**/*.schema.d.*

packages/types/**/*.ts
!packages/types/src/index.ts
!packages/types/src/compile.ts
!packages/types/src/**/*.spec.ts
