# istanbul/c8 output
.coverage
coverage

node_modules
package.lock

.dccache
.history

*.log
.DS_Store

# TypeScript
dist
lib
*.tsbuildinfo

# Docker overrides
docker-compose.override.yml
.env

# Ignore act stuff?
.actrc
act/

# yarn 2 stuff
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
# ignore sdk stuff
.vim

# Jekyll stuff
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
