LICENSE

tags*
.history

.yarn
.pnp.*
yarn.lock
yarn-error.log

*.toml

Gemfile
Gemfile.lock

.coverage

_site/

lib
dist
coverage
.test
*.{c,m,}js

# Ignore generated types
packages/types/**/*.ts
packages/types/**/*.js
!packages/types/src/compile.ts
!packages/types/src/index.ts
!packages/types/src/types.d.ts
!packages/types/src/types.spec.ts
