LICENSE

tags*
.history

.yarn
.pnp.*
yarn.lock
yarn-error.log

*.toml

Gemfile
Gemfile.lock

.coverage

_site/

lib
dist

# Ignore generated types
packages/types/**/*.js
packages/types/**/*.ts
packages/types/**/*.d.ts
packages/types/**/*.map
!packages/types/src/compile.ts
!packages/types/src/index.ts
!packages/types/src/types.d.ts
!packages/types/src/types.spec.ts
